* {
    margin: 0%;
    padding: 0;
    text-decoration: none;
    color: brown;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    height: 8vh;
    border: 1px solid red;

}

#logo {
    margin-left: 2rem;
    font-size: 2rem;
}

.navbar a {
    padding: 2rem;
}